:root {
    font-size: 16px;
    --main-green: hsl(94, 33%, 85%);
    --main-green-darken: hsl(94, 33%, 75%);

    --property-brown: #864C39;
    --property-light-blue: #bde0f4;
    --property-pink: #C63883;
    --property-orange: #de911b;
    --property-red: #DB2428;
    --property-yellow: #FFF004;
    --property-green: #60ad5b;
    --property-dark-blue: #0067A4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monopoly', sans-serif;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.setup {
    background: var(--main-green);
    border: black solid 8px;
    height: 100vh;
    height: 100svh;
    transition: transform 0.25s ease-in-out;

    nav {
        display: flex;
        border-bottom: black solid 4px;

        img {
            height: 4rem;
            aspect-ratio: 1/1;
        }

        ul {
            display: flex;
            width: 100%;

            .light-blue {
                background: var(--property-light-blue);
            }

            .orange {
                background: var(--property-orange);
            }

            .green {
                background: var(--property-green);
            }

            li {
                list-style: none;
                width: 33.33%;
                display: flex;
                align-items: center;
                border-left: black solid 4px;

                div {
                    width: 100%;
                    text-align: center;
                    font-size: 1.25rem;
                }
            }
        }
    }

    .setup__input {
        height: 30%;
        border-bottom: black solid 4px;

        > div {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            input {
                font-size: 1.5rem;
                padding: 0.125rem 1rem;
                border: black solid 3px;
                border-radius: 10px;
                background-color: var(--main-green-darken);
            }

            input[type="text"],
            input[type="number"] {
                width: 70%;
            }
        }

        .input_player {
            background-color: var(--property-light-blue);
        }

        .input_company {
            background-color: var(--property-orange);
        }

        .input_setting {
            background-color: var(--property-green);

            p {
                font-size: 2rem;
            }

            input[type="button"] {
                background-color: var(--property-red);
            }
        }

        .hidden {
            display: none;
        }
    }

    .setup__list {
        height: calc(100% - 4px - 4rem - 30%);
        display: flex;

        .list_player {
            border-right: black solid 2px;
        }

        .list_company {
            border-left: black solid 2px;
        }

        > div {
            width: 50%;

            p {
                margin: 0.375rem 0.5rem;
                padding: 0.25rem 0.5rem;
                font-size: 1.5rem;
                text-align: center;
                width: calc(100% - 1rem);
                border: black solid 2px;
            }

            .title {
                margin: 7% 0;
                text-align: center;
                font-size: 2rem;
            }
        }
    }

    .setup__confirmation {
        position: absolute;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transition: transform 0.25s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;


        .display_confirmation {
            height: 90%;
            width: 85%;
            background-color: var(--main-green);
            border: black solid 4px;
            position: relative;

            h4 {
                font-size: 2rem;
                text-align: center;
                padding: 0.5rem 0;
            }

            .banknote_value {
                text-align: center;
                font-size: 2rem;
                border-bottom: black solid 2px;
                padding-bottom: 0.5rem;
            }

            .title {
                font-size: 3rem;
                text-align: center;
                padding: 1.5rem 0;
                background-color: var(--property-red);
                border-bottom: black solid 4px;
            }

            .confirmation__list {
                display: flex;

                > div {
                    width: 50%;

                    h3 {
                        text-align: center;
                        font-size: 1.5rem;
                        margin: 0.5rem 0;
                    }

                    p {
                        margin: 0.375rem 0.5rem;
                        padding: 0.25rem 0.5rem;
                        font-size: 1.5rem;
                        text-align: center;
                        width: calc(100% - 1rem);
                        border: black solid 2px;
                    }
                }
            }

            input {
                width: 50%;
                font-size: 2.5rem;
                position: absolute;
                bottom: 2%;
                left: calc(50% - 25%);
                background-color: var(--main-green-darken);
                border: black solid 4px;
                border-radius: 10px;
            }
        }
    }
}

.game {
    background: var(--main-green);
    position: absolute;
    top: 0;
    left: -100%;

    // see game part
    left: 0;
    height: 100vh;
    height: 100svh;
    width: 100%;
    border: black solid 8px;
    transition: transform 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    nav {
        display: flex;
        flex-direction: column;

        .game__menu_tab {
            display: flex;
            padding-bottom: 1rem;
    
            li {
                list-style: none;
                width: 50%;
                border-bottom: black solid 4px;
                text-align: center;
                padding: 0.375rem 0;
                font-size: 2.5rem;
            }
    
            .game__tab_player {
                border-right: 2px solid black;
            }
    
            .game__tab_company {
                border-left: 2px solid black;
            }
        }
    
        .game__menu_player,
        .game__menu_company {
            border-bottom: 3px solid black;
            border-top: 3px solid black;
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            li {
                list-style: none;
                text-align: center;
                font-size: 1.5rem;
                padding: 0.5rem 0;
                border: black solid 1px;
            }
        }
    }

    .game__view {
        height: auto;

        .game__view_player {

            > div {
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    text-align: center;
                    font-size: 3.5rem;
                    margin-bottom: 2rem;
                    padding: 0.5rem 1.5rem;
                    border: black solid 4px;
                    min-width: 80%;
                }

                h3 {
                    font-size: 2.5rem;
                    text-align: center;
                    padding-bottom: 1rem;
                }

                > div {
                    width: 70%;

                    > div {
                        display: flex;
                        justify-content: space-between;

                        > p {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }

        .game__view_company {

            > div {

                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    text-align: center;
                    font-size: 3.5rem;
                    margin-bottom: 1rem;
                    padding: 0.5rem 1.5rem;
                    border: black solid 4px;
                    min-width: 90%;
                }

                > :nth-child(2),
                > :nth-child(4) {
                    font-size: 1.5rem;
                    text-align: center;
                    padding: 0.5rem 0;
                }

                > :nth-child(3) {
                    font-size: 2.5rem;
                    text-align: center;
                    padding: 1rem 0;
                }

                .company_grid {
                    display: grid;
                    min-width: 90%;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    border: black solid 1px;
                    margin-top: 1rem;

                    > div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 0.25rem;
                        border: black solid 1px;
                    }

                    .turn {
                        text-align: center;
                        font-size: 2rem;
                    }

                    .value {
                        text-align: center;
                        font-size: 1rem;
                    }

                    .legend {
                        text-align: center;
                        font-size: 1.25rem;
                    }
                }
            }
            
        }
    }

    .game__action_btn {
        padding: 1rem;
        display: flex;
        justify-content: space-evenly;
        border-top: black solid 4px;

        button {
            width: 45%;
            font-size: 1.75rem;
            border: black solid 3px;
            border-radius: 10px;
            background-color: var(--main-green-darken);
        }
    }
}

.turn__popup {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: -100%;
    //left: 0;
    transition: transform 0.25s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);

    .turn__display {
        position: relative;
        top: 5%;
        left: 5%;
        height: 90%;
        width: 90%;
        background-color: var(--main-green);
        border: black solid 4px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        .turn__game {
            width: 100%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            > div {

                height: 50%;

                h3 {
                    font-size: 2.5rem;
                    text-align: center;
                    padding-top: 0.5rem;
                }

                > div {
                    width: 100%;
                    padding: 1rem 2rem;

                    p {
                        padding: 0.15rem 0;
                    }
                }
            }

            .savings_earning {
                border-top: black solid 4px;
            }
        }

        .turn__finish {
            width: 100%;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                font-size: 4rem;
                text-align: center;
                white-space: nowrap;
                transform: rotate(-67.5deg);
            }
        }

        .turn__action {
            width: 100%;
            display: flex;
            border-top: black solid 4px;

            > div {
                min-width: 50%;
                flex-grow: 1;
                text-align: center;
                font-size: 2rem;
                padding: 1rem 0;
            }

            .confirm_action {
                border-right: black solid 2px;
                background-color: green;
            }

            .close_action {
                border-left: black solid 2px;
                background-color: rgb(207, 0, 0);
            }
        }

        .turn__player {
            flex-grow: 1;
            width: 100%;

            h3 {
                font-size: 3.5rem;
                text-align: center;
                padding: 1rem 0;
                border-bottom: black solid 4px;
            }

            .savings_player {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0.75rem 0;
                border-bottom: black solid 2px;

                h4 {
                    width: 80%;
                    font-size: 2rem;
                    margin-bottom: 0.5rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        font-size: 1.5rem;
                    }
                }

                > div {
                    display: flex;
                    gap: 3rem;
                    align-items: center;

                    .savings_player_value {
                        display: flex;
                        flex-direction: column;
                        align-items: end;
                        justify-content: space-between;

                        p:nth-child(1),
                        p:nth-child(3) {
                            font-size: 1.25rem;
                        }

                        p:nth-child(3) {
                            border-top: rgb(61, 61, 61) solid 2px;
                            margin-top: 0.5rem;
                            color: rgb(61, 61, 61);
                        }
                    }

                    .savings_player_input {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 0.5rem;

                        > div {
                            width: 100%;
                            display: flex;
                            gap: 0.5rem;

                            input {
                                height: 2rem;
                                width: 2rem;
                                font-size: 1.5rem;
                                border: none;
                                border-radius: 0.25rem;
                                text-align: center;
                            }

                            .btn_input_savings_add {
                                background-color: var(--property-green);
                            }

                            .btn_input_savings_remove {
                                background-color: var(--property-red);
                            }
                        }

                        #text_input_savings {
                            width: 5rem;
                            height: 2rem;
                            font-size: 1.25rem;
                            padding: 0 0.25rem;
                            border: black solid 1px;
                            border-radius: 0.25rem;
                            background-color: var(--main-green-darken);
                        }
                    }
                }
            }

            .stocks_player {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0.75rem 0;
                border-bottom: black solid 2px;

                h4 {
                    width: 80%;
                    text-align: left;
                    font-size: 2rem;
                    margin-bottom: 0.5rem;
                }

                .stocks_list_player {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.5rem;

                    > div {
                        width: 80%;
                        font-size: 1.25rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        > div {
                            display: flex;
                            gap: 0.5rem;

                            input {
                                height: 2rem;
                                width: 2rem;
                                font-size: 1.5rem;
                                border: none;
                                border-radius: 0.25rem;
                                text-align: center;
                            }

                            .btn_input_invest_add {
                                background-color: var(--property-green);
                            }

                            .btn_input_invest_remove {
                                background-color: var(--property-red);
                            }
                        }
                    }
                }
            }

            .summary_player {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0.75rem 0;
                
                h4 {
                    width: 80%;
                    text-align: left;
                    font-size: 2rem;
                    margin-bottom: 0.5rem;
                }

                p {
                    width: 80%;
                    text-align: left;
                    font-size: 1.25rem;

                    span {
                        padding: 0 0.125rem;
                    }
                }
            }
        }
    }
}